.mainTilecontainer {
  width: 1440px;
  height: 720px;
  background-image: url("https://i.ibb.co/QvDNbCM/Rectangle-2.png");
  background-repeat: no-repeat;
  color: rgb(46, 43, 43);
  background-size: cover;
  margin-top: -22px;
  /* background-size: 1440px 600px;  */
  margin-top: 1px;
  }



.textHead {
  position: absolute;
  width: 925px;
  height: 467px;
  left: 94px;
  top: 288px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  color: #FBFBFB;
}

.subHeading {
  
  position: absolute;
  width: 871px;
  height: 226px;
  left: 97px;
  top: 471px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: justify; 
  color: #FBFBFB;
}

/* .container{
  background-color: red;
} */
.img-fluid{
  background-image: url("https://i.ibb.co/QvDNbCM/Rectangle-2.png");
  max-width: 100%;
  background-size: 100% 600px;
  height:auto;
  position:absolute;
}
  /* icon sections */
.tileConatainerIcon{
  width: 100%;
  /* height: 429px; */
  margin-top: 1px;
  padding-left: 140px;
  margin-bottom: 66px;
  background-image: url(https://i.ibb.co/dQtQGf0/Rectangle-3.png);
}
  
  .column {
  float: left;
  width: 220px;
  height: 220px;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
  background-color:rgb(248, 248, 248);
  margin-right: 65px;
  margin-top: 12px;
  }
  
  .row {
  margin-left: 24px;
  padding-bottom: 20px;
  }

  .icon1{
  background-image: url("https://i.ibb.co/TtfMNJX/van-1.png");
  /* width: 100%;
  background-repeat: no-repeat;
  height: 120px;
  margin-left: 17px; */
  position: relative;
  width: 192%;
  height: 140px;
  left: -5px;
  background-repeat: no-repeat;
  top: -13px;
  }
  .icon2{
  background-image: url("https://i.ibb.co/C9GTtCk/van-4.png");
  /* width: 100%;
  background-repeat: no-repeat;
  height: 120px;
  margin-left: 17px; */
  position: relative;
  width: 192%;
  height: 140px;
  left: 10px;
  background-repeat: no-repeat;
  top: 4px;
  }
  .icon3{
  background-image: url("https://i.ibb.co/7bDYQ32/van-3.png");
  /* width: 100%;
  background-repeat: no-repeat;
  height: 120px;
  margin-left: 17px; */
  position: relative;
  width: 192%;
  height: 140px;
  left: 6px;
  background-repeat: no-repeat;
  top: -9px;
  }
  .icon4{
  background-image: url("https://i.ibb.co/GHtxLpt/van-2.png");
  /* width: 100%;
  background-repeat: no-repeat;
  height: 120px;
  margin-left: 17px; */
  position: relative;
  width: 192%;
  height: 140px;
  left: 17px;
  background-repeat: no-repeat;
  top: 8px;
  }
  
  .media{
  margin-top:8%;
  padding-top: 13px;    
  }

  .media-object{ 
  width: 300px !important;
  height: 300px!important;
  float: left;
  margin-left: -99px;
  position: absolute; 
  }

.media-body{ 
  position: relative;
  margin-top: 25px;
  margin-left: 250px;
  width:70%;
}
.media-heading{ 
  color:red;
  margin-top:25px;
}
.mediaSubHeading{
  color:darkcyan;
  /* width:556px; */
} 

/* truck */
.truck{
  width: 100%;
  height:500px;
  background-image: url("https://i.ibb.co/9W2Zsrn/Rectangle-3-1.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 500px;
  position: relative;
  margin-top: 77px;
}

.tileHead{
  margin-left: 116px;
  margin-top: 31px;
  font-size: 61px;
  position: relative;
}

  /* card images */
.card {
  float: left;
  height: 450px;
  width: 300px;
  margin: 2%;
}
.card>img {
  height: 193px;
  width: 275px;
  position: absolute;
  margin-top: 19px;
}
.cardHead{
    margin-top: 220px;
}
#cardPadding{
    margin-left: -55px;
}

/* tile head2 */
.tileHead2{
  margin-left: 116px;
  margin-top: -61px;
  font-size: 61px;
  position: absolute;
}

.tileImage{
  width: 100%;
  height:500px;
  background-image:url("https://i.ibb.co/2Y05phv/Rectangle-4.png");
  background-size: 100% 500px;
  position: relative;
  margin-top: 77px;
}

/* media 2 */
.mediaMain2{
  margin-top: 48px;
  padding-left: 146px;
  height: 529px;
  position: absolute;
  padding-bottom: 26px;
  margin-bottom: 40px;
  background-image: url("https://i.ibb.co/dQtQGf0/Rectangle-3.png");
  background-size: 100% 529px;
}
.media2{
  margin-top:3%; 
}

.media-object2{ 
  width: 300px!important;
  height: 300px!important;
  float: left;
  margin-top: -11px;
  margin-left: -99px;
  position: relative;
}

.media-body2{ 
  position: relative;
}
.media-heading2{ 
  color:red;
  margin-top:25px;
}
.mediaSubHeading2{
  color:darkcyan;
} 
/* media right */
.mediaMain3{
  margin-top: 608px;
  /* padding-top: 100px; */
  padding-left: 146px;
  height: 529px;
  position: absolute;
  background-image: url("https://i.ibb.co/dQtQGf0/Rectangle-3.png");
  background-size: 100% 529px;
}
.media3{
  margin-top: 3%;
  /* float: left; */
  margin-left: -109px;
  padding: 12px; 
}

.media-object3{ 
  width: 300px!important;
  height: 300px!important;
  float: right;
  margin-top: -11px;
  position: relative;
}
.media-body3{ 
  position: relative;
}
/* three boxes */
.boxMain{
  width: 100%;
  margin-top: 1167px;
  padding-left: 126px;
  /* margin-bottom: 50px; */
  position: relative;
}
.boxColumn {
  width: 370px;
  height: 220px;
  margin-left: -39px;
  margin-right: 105px;
  background-color:#C4C4C4;;
  margin-top: 12px;
}

/* city image */
.city{
  width: 100%;
  height:500px;
  background-image:url("https://i.ibb.co/yVrPxFg/Rectangle-25.png");
  background-size: 100% 500px;
  position: absolute;
  margin-top: 56px;
}
/* help sectipn */
.helpBox{
  width: 100%;
  height: 100%;
  margin-top: 722px;
  padding-left: 9px;
  padding-top: 17px;
  margin-bottom: 50px;
  /* position: absolute; */
}
.helpBox>.row{
  margin-left:130px
}
.helped{
  margin-top: 613px;
  font-size: 38px;
  margin-left: 135px;
  position: absolute;
}
.helpColumn {
  width: 399px;
  height: 434px;
  /* float: left; */
  margin-right: 8px;
  margin-top: -28px;
}
.helpBox1{
  width: 335px;
  height: 416px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 300px;
  background-image:url("https://i.ibb.co/X4ZcXf2/Rectangle-22.png");
}
.helpBoxName1{
  position: absolute;
  float: left;
  margin-top: 323px;
  margin-left: 35px;
  font-size: 24px;
}
.helpBox2{
  width: 335px;
  height: 416px;
  /* margin-left: -148px; */
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 300px;
  background-image:url("https://i.ibb.co/rGscm1T/Rectangle-23.png");
}
.helpBoxName2{
  position: absolute;
  float: left;
  margin-top: 323px;
  margin-left: 35px;
  font-size: 24px;
}
.helpBox3{
  width: 335px;
  height: 416px;
  /* margin-left: -148px; */
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 300px;
  background-image:url("https://i.ibb.co/n80nRj6/Rectangle-24.png");
}
.helpBoxName3{
  position: absolute;
  float: left;
  margin-top: 323px;
  margin-left: 110px;
  font-size: 24px;
}
@media(max-width:1465px){
  .boxColumn {
    /* width: 322px; */
    margin-left: 181px;
  }
}
@media(max-width:1450px){
  .boxColumn {
    width: 322px;
    margin-left: 340px;
  }
}
@media(max-width:1380px){
  .helpColumn {
    margin-right: 80px;
  }
  .helpBox{
    padding-left: 362px;
  }
}
@media(max-width:1280px){
  .helpBox{
    padding-left: 328px;
  }
}
@media(max-width:1224px){
  .helpBox{
    padding-left: 300px;
  }
}

@media(max-width:1195px){
  .boxColumn {
    margin-left: 314px;
  }
  .helpBox{
    padding-left: 200px;
  }
}

@media(max-width:1190px){
  .boxColumn {
    margin-left: 170px;
  }
}
@media(max-width:1110px){
  .helpBox{
    padding-left: 200px;
  }
}
@media(max-width:1060px){
  .boxColumn {
    margin-left: 190px;
  }
}
@media(max-width:910px){
  .boxColumn {
    margin-left: 130px;
  }
  .helpBox{
    padding-left: 112px;
   }
}
@media(max-width:893px){
  .boxColumn {
    margin-left: 94px;
  }
  .helpBox{
   padding-left: 98px;
  }
}
@media(max-width:765px){
  .boxColumn {
    margin-left: 24px;
  }
  .helpBox{
    padding-left: 5px;
  }
}
@media(max-width:603px){
  .boxColumn {
    margin-left: -44px;
  }
  .helpBox{
    padding-left: 45px;
  }
  .helped{
    margin-left:73px;
  }
}
@media(max-width:603px){
  .helpColumn {
    margin-left: -63px!important;
  }
  .helpBox{
    padding-left: 0px;
  }
}
